$color-main:#1e8ebe;
$color-primary:#016690;
$color-cta:#a41ebe;

$color-header: #cdebf8;
$color-header-text: black;


$color-background-card: #e0ddb2;
$color-borders: #dad6ab;

$color-footer:#016690;